.content-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    animation: fadeIn 0.5s ease-in-out;
}

.content-item {
    width: 150px; /* встановлюємо ширину для 4 зображень в ряд */
    text-align: center;
    margin: 10px;
}

img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.1);
}
